#cabecalho{
    background-color: #665242 ;   
    color: #faebd7;  
    width: 100%;  
       }



       #Bolos{
        font-family: 'Times New Roman', Times, serif;
        background-color: #ebcabb;
        color:white;
        width: 50%;
        margin: 20%;
     margin: 50px; 10px


        box-shadow: #595858 5px 5px;